* {
    box-sizing: border-box;
}

body {
    font-family: Open Sans;
    line-height: 26px;
    font-size: 16px;
    font-smoothing: antialiased;
    font-weight: lighter;
    color: $c-darkblue;
}

a {
    color: $c-turquoise;
    text-decoration: none;

    &:hover {
        color: darken($c-turquoise, 15);
        transition: color 0.2s;
    }
}

h1, .h1 {
    font-weight: lighter;
    font-size: 26px;
    line-height: 36px;

    @include respond-min($bp-tablet) {
        font-size: 34px;
        line-height: 40px;
    }
}

h2, .h2 {
    font-weight: lighter;
    font-size: 20px;
    line-height: 28px;

    @include respond-min($bp-tablet) {
        font-size: 26px;
        line-height: 36px;
    }
}


h3, .h3 {
    font-weight: lighter;
    font-size: 16px;
    line-height: 22px;

    @include respond-min($bp-tablet) {
        font-size: 20px;
        line-height: 26px;
    }
}
