
$bp-mobile : 20em;
$bp-tablet : 48em;
$bp-desktop : 60em;

$fix-mqs: false !default;


/* Colours */
$c-darkblue: #113A52;
$c-blue: #3A5F74;
$c-faintblue: #8CA1AD;
$c-turquoise: #00C3B6;
$c-red: #F56F6C;
