<article class="article">

    <h1 class="h1">ES6 arrow functions, syntax and lexical scoping</h1>

    <time datetime="2015-02-14 20:00">14 FEB 2015</time>

    <p>
        Andouille boudin meatloaf jerky pork belly, jowl filet mignon tail
        pork loin landjaeger frankfurter.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
        pretium purus nibh, eget consequat arcu aliquet vitae. Pellentesque
        sit amet sollicitudin lacus, quis ultricies libero. Praesent id
        fermentum nisl, id aliquet lacus. Integer gravida mauris a urna
        vehicula elementum. Quisque viverra orci leo, posuere elementum
        libero feugiat sed.
    </p>

    <pre>
        <code class="language-javascript">var foo = 'bar';</code>
    </pre>

    <p>
         Nam fringilla ante neque, venenatis mattis ipsum efficitur ac.
         Mauris odio felis, vulputate sit amet fringilla a, ornare at est.
         Pellentesque ultricies condimentum sapien, ut luctus tortor malesuada non.
         Donec vehicula vestibulum ligula, vitae blandit massa scelerisque nec.
         Donec aliquet arcu vitae lacus consequat tempor.
    </p>

    <p>
        Andouille boudin meatloaf jerky pork belly, jowl filet mignon tail
        pork loin landjaeger frankfurter. Morbi efficitur, ipsum in
        pellentesque condimentum, ante odio bibendum nibh, ac convallis
        lectus ex id elit. Suspendisse dui nisl, blandit et sodales dictum,
        mollis suscipit mi.
    </p>

    <p>
        Andouille boudin meatloaf jerky pork belly, jowl filet mignon tail
        pork loin landjaeger frankfurter.
    </p>

</article>

