<section class="comment">

    <div class="l-media">
        <img src="/assets/toolkit/images/wordpress-dummy.png" class="l-media-figure" alt="">

        <div class="l-media-body">
            <div class="comment__author">
                <cite>James Dowell</cite>
            </div>
            <p>
                This is the body of the comment blah blah
                blah blah blah blah bdsfdf fds fds f sf
                This is the body of the comment blah blah
                blah blah blah blah bdsfdf fds fds f sf
                This is the body of the comment blah blah
                blah blah blah blah bdsfdf fds fds f sf
                This is the body of the comment blah blah
                blah blah blah blah bdsfdf fds fds f sf
            </p>
        </div>
    </div>

</section>
