<div class="social-icons">
    <ul class="list list--plain list--inline">
        <li>
            <a href=""><img src="../assets/toolkit/images/icons/github.svg"></a>
        </li>
        <li>
            <a href=""><img src="../assets/toolkit/images/icons/twitter.svg"></a>
        </li>
        <li>
            <a href=""><img src="../assets/toolkit/images/icons/facebook.svg"></a>
        </li>
        <li>
            <a href=""><img src="../assets/toolkit/images/icons/linkedin.svg"></a>
        </li>
        <li>
            <a href=""><img src="../assets/toolkit/images/icons/mail.svg"></a>
        </li>
    </ul>
</div>
