.header {
    @include respond-min($bp-tablet) {
        height: 100vh;
        background-color: $c-blue;
        color: white;
    }

    a:hover {
        color: white;
    }
}

.header__bio {
    width: 100%;
    text-align: center;
    padding: 5px 20px;
}

.header__contact, .header__navigation {
    text-align: center;
    margin: 10px 0px;

    @include respond-min($bp-desktop) {
        margin: 20px 30px;
    }
}

.header__contact {
    border-bottom: solid 1px white;
}
