.header-block {
    padding: 20px;
}

.header-block__bio {
    width: 100%;
    text-align: center;
}

.header-block__contact, .header-block__navigation {
    text-align: center;
    margin: 10px 0px;
}
