.header-block {
    padding: 20px;
}

.header-block__bio {
    width: 100%;
    text-align: center;
}

.header-block__contact {
    text-align: center;

    ul {
        display: inline-block;
    }
}

.header-block__navigation {

}
