.navigation {

    li {

        &:before {
            content: "\2022";
            margin: 5px 0px 0px 5px;
        }
    }

    li:first-child {
        &:before {
            content: none;
            margin: 0px;
        }
    }

}
