.social-icons {

    a {
        margin: 4px;
        width: 40px;
        display: inline-block;
        height: 40px;
        @include respond-min($bp-tablet) {
            margin: 7px;
        }

        &:hover {
            opacity: 0.7;
            transition: 0.3s all;
        }
    }

    .facebook {
        background: url('../images/icons/facebook.svg') no-repeat;
        background-size: 100%;

        @include respond-min($bp-tablet) {
            background: url('../images/icons/facebook--white.svg') no-repeat;
            background-size: 100%;
        }
    }

    .twitter {
        background: url('../images/icons/twitter.svg') no-repeat;
        background-size: 100%;

        @include respond-min($bp-tablet) {
            background: url('../images/icons/twitter--white.svg') no-repeat;
            background-size: 100%;
        }
    }

    .linkedin {
        background: url('../images/icons/linkedin.svg') no-repeat;
        background-size: 100%;

        @include respond-min($bp-tablet) {
            background: url('../images/icons/linkedin--white.svg') no-repeat;
            background-size: 100%;
        }
    }

    .github {
        background: url('../images/icons/github.svg') no-repeat;
        background-size: 100%;

        @include respond-min($bp-tablet) {
            background: url('../images/icons/github--white.svg')no-repeat;
            background-size: 100%;
        }
    }

    .mail {
        background: url('../images/icons/mail.svg') no-repeat;
        background-size: 100%;


        @include respond-min($bp-tablet) {
            background: url('../images/icons/mail--white.svg') no-repeat;
            background-size: 100%;
        }
    }

}
